#contact
  h4 Stay up to date on all things coffee.

  = form_tag(email_subscribe_path, method: "post")
    = text_field_tag :email, nil, placeholder: "Email Address"
    = submit_tag "Submit", class: "button btn"

javascript:
  $('form').submit(function() {
    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: $(this).serialize(),
        dataType: "JSON"
    }).success(function(json){
        if (json['success'] === true) {
          $("form :input").attr("disabled", true);
          $('#email').css('background-color', 'white');
          $('input.button').val("Got it. We'll keep you in the loop.");
        } else {
          $('#email').addClass('animated shake');
          $('#email').css('background-color', '#F2E07B');
        }
    });
    return false;
  });
