#contact
  h3 stay in touch

  h4 Stay up to date on the latest from Grndz.

  = form_tag("/stay_in_touch", method: "post")
    = text_field_tag(:email, nil, placeholder: "Email Address")
    = submit_tag "Submit"

  h5 Are you a roaster? Join Grndz at roasters@grndz.com.

javascript:
  $('form').submit(function() {
    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: $(this).serialize(),
        dataType: "JSON"
    }).success(function(json){
        if (json['success'] === true) {
          // celebrate by showing the submit complete message
        } else {
          // error message the user
        }
    });
    return false;
  });
