#vendors.container
  h1.brand-font.text-center Colorado Coffee Subscribed.

  - @vendors.each_with_index do |vendor, index|
    a href="/vendors/#{vendor.id}"
      .col-xs-4.grow
        .vendor-container style="background-image: url('http://lorempixel.com/g/326/226/');"
          img.img-circle src="http://lorempixel.com/50/50/"
          h4.brand-font=vendor.name

          h5.brand-font
            span.glyphicon.glyphicon-map-marker
            |  #{vendor.city}, #{vendor.state}

= render 'shared/stay_in_touch'
= render 'shared/footer'
