= render 'shared/notices'
= render 'shared/header'

#vendors.container
  h1.brand-font.text-center Colorado Coffee Subscribed.

  - @vendors.each_with_index do |vendor, index|
    a href="/vendors/#{vendor.id}"
      .col-xs-4.grow
        .vendor-container style="background-image: url('#{vendor_hero_image(vendor)}');"
          img.img-circle src=vendor_logo_image(vendor)
          h4.brand-font=vendor.name

          h5.brand-font
            span.glyphicon.glyphicon-map-marker
            |  #{vendor.city}, #{vendor.state}

= render 'shared/email_subscribe'
= render 'shared/footer'
