#contact {

  padding: 40px;

  h3 {
    font-weight: 700;
    color: #b19d6f;
    text-align: center;
    font-size: .9em;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin: 0 0 2.75em;
    padding: .75em;
  }
}