#contact {
  margin-top: 50px;
  padding: 40px;
  text-align: center;

  h3 {
    color: #b19d6f;
    font-size: .9em;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0 0 2.75em;
    padding: .75em;
    text-transform: uppercase;
  }
}