#contact {
  background-color: #fff;
  margin-top: 50px;
  padding: 40px;
  text-align: center;

  h3 {
    color: #b19d6f;
    font-size: 1.1em;
    font-weight: 700;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  h4, h5 {
    text-align: center;
    margin: 0;
    line-height: 1.5em;
    color: #8e9091;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    margin-top: 50px;
    font-size: 15px;
  }

  form {
    width: 375px;
    margin-left: auto;
    margin-right: auto;

    input {
      -webkit-box-shadow: none;
      border-radius: 0;
      border: 0;
      box-shadow: none;
      font-size: 16px;
      height: 57px;
      padding: 18px 0;
      text-align: center;
      text-rendering: optimizeLegibility;
      width: 100%;
    }

    input#email {
      -moz-transition: background 2.5s;
      -webkit-transition: background 2.5s;
      background: #f2efe9;
      margin: 20px 0 20px 0;
      transition: background .5s;

      &:focus {
        background: #f3f3f3;
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        transition: background .5s;
        outline: 0
      }
    }

    input.button {
      background: #38434d;
      color: #fff;
      font-size: 12px;
      letter-spacing: 2px;
      text-transform: uppercase;
      width: 100%;
    }
  }
}