@font-face {
  font-family: 'Fredericka the Great';
  font-style: normal;
  font-weight: 400;
  src: local('Fredericka the Great'), local('FrederickatheGreat'), url('/fonts/fredericka.woff') format('woff');
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  color: #ffe;
}

.great {
  font-family: 'Fredericka the Great';
}

h1, h2, h3 {
  font-weight: 200;
  margin: 0;
}