body {
  margin: 0;
}

a {
  color: #6FB5F1;
}

#backdrop {
  background-image: url(bg-image-small.jpeg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.rotate {
  -webkit-transform : rotate(-10deg);
  -moz-transform    : rotate(-10deg);
  -ms-transform     : rotate(-10deg);
  -o-transform      : rotate(-10deg);
  filter            : progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
