#backdrop {
  background-image: url(bg-image-small.jpeg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#home-container {
  margin: 10px;
  position: fixed;
  text-align: center;
  top: 8%;
  width: 100%;

  #banner-title {
    display: none;
    font-size: 90px;
  }

  #banner-subtitle {
    display: none;
    font-size: 30px;
  }
}

#info-block {
  display: none;
  height: 300px;
  margin-top: 60px;
  max-width: 650px;
  position: relative;

  #info-block-title,
  #info-block-subscription {
    color: #333;
    text-align: center;
  }

  #info-block-title {
    font-size: 40px;
  }

  #info-block-subscription {
    font-size: 20px;
    padding-bottom: 25px;
    padding-top: 5px;
  }
}
