#home-container {

  margin-top   : 100px;

  h1, h2 {
    font-style   : italic;
    margin-left  : auto;
    margin-right : auto;
    text-align   : center;
  }

  h1 {
    font-size      : 105px;
    font-weight    : 200;
    line-height    : 75px;
    margin-bottom  : 15px;
    padding-bottom : 15px;
    width          : 450px;

    :last-child {
      font-size   : 72px;
      font-weight : 600;
    }
  }

  h2 {
    max-width   : 250px;
    margin-top  : 15px;
    font-size   : 30px;
    font-weight : 200;
  }

  form {
    border       : 2px solid;
    border-color : #8F6635;
    margin-left  : auto;
    margin-right : auto;
    margin-top   : 120px;
    width        : 404px;

    input {
      border-radius: 0px;
      height: 50px;
      width: 270px;
    }

    button {
      background-color : rgba(0, 0, 0, .5);
      border-radius    : 0px;
      color            : #fff;
      height           : 50px;
      width            : 130px;

      &:hover {
        background-color : #fff;
        color            : #000;
        cursor           : hand;
        opacity          : 0.8;
      }
    }
  }

  .info-block {
    margin-left  : auto;
    margin-right : auto;
    margin-top   : 60px;
    text-align   : center;
    width        : 840px;

    .info {
      background-color : rgba(255, 255, 255, .45);
      border           : 2px solid;
      border-color     : #000;
      color            : #67230D;
      display          : inline-block;
      padding          : 10px;
      width            : 266px;

      &:first-child {
        margin-right  : 20px;
      }

      &:last-child {
        margin-left   : 20px;
      }

      .glyphicon {
        color        : #190808;
        font-size    : 22px;
        margin-right : 10px;
      }

      h4 {
        display   : inline;
        font-size : 30px;
      }

      p {
        color      : #000;
        // text-align : left;
        font-size  : 18px;
      }
    }
  }
}
