#index-container {
  .glyphicon {
    display: block;
    font-size: 30px;
    padding-bottom: 20px;
    padding-top: 5px;
    position: initial;
    text-align: center;
  }

  h3 { text-align: center; }
}