* {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #f2efe9;
  font-family: europa, sans-serif;
}

.brand-font {
  font-family: 'Tiempos Text',Georgia,serif;
}

.primary-font {
  font-family: europa, sans-serif;
}

// ALERTS

#notifications {
  text-align: center;
  .alert {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    color: #a27c16;
    border: solid 1px #a8860e;
    background: #f5e6b2;
    padding: 7px 19px;
    border-radius: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
}
