header {
  background-color: #fff;
  min-height: 90px;
  width: 100%;
  padding: 0 20px 0 20px;

  nav.wrapper {
    line-height: 75px;
    margin: auto;
    max-width: 1240px;
    padding-top: 12px;

    span a {
      bottom: 8px;
      color: #bbb;
      font-family: "ag-bold",Helvetica,Arial,sans-serif;
      font-size: 15px;
      letter-spacing: .1em;
      position: relative;
      text-transform: uppercase;
      margin-right: 25px;
    }

    a.active {
      border-bottom: 3px solid #333;
      color: #333;
    }

    a:hover {
      color: #333;
      text-decoration: none;
    }

    a.title{
      color: #333;
      font-family: 'Tiempos Text',Georgia,serif;
      font-size: 44px;
      padding-right: 40px;
    }
  }
}
