header {
  background-color: #fff;
  min-height: 90px;
  width: 100%;
  padding: 0 20px 0 20px;

  nav.wrapper {
    line-height: 75px;
    margin: auto;
    max-width: 1240px;
    padding-top: 12px;

    span a {
      bottom: 8px;
      color: #bbb;
      font-family: "ag-bold",Helvetica,Arial,sans-serif;
      font-size: 15px;
      letter-spacing: .1em;
      margin-right: 25px;
      position: relative;
      text-transform: uppercase;
    }

    a.active {
      border-bottom: 3px solid #333;
      padding-bottom: 3px;
      color: #333;
    }

    a:hover {
      color: #333;
      text-decoration: none;
    }

    a.title{
      color: #333;
      font-family: 'Tiempos Text',Georgia,serif;
      font-size: 44px;
      padding-right: 40px;
    }

    a.button {
      background: #38434d;
      border-radius: 0;
      color: #fff;
      float: right;
      font-family: "ag-bold",Helvetica,Arial,sans-serif;
      font-size: .75em;
      font-weight: 700;
      letter-spacing: .2em;
      margin-top: 15px;
      padding: 1.25em 2em;
      text-transform: uppercase;
    }

    a.button:hover {
      -moz-transition: background .25s;
      -webkit-transition: background .25s;
      background: #1c2126;
      color: #fff;
      transition: background .25s;
    }
  }
}
