#signInBody {
  background-color: #fff;
  height: 100%;
}

.session-container {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  margin-top: 60px;
  text-align: center;

  form {
    margin-bottom: 20px;
  }

  a {
    &:hover {
      text-decoration: none;
    }

    h1 {
      font-size: 46px;
      margin-bottom: 20px;
      font-weight: 600;
      color: #000;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0 0 35px 0;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 20px;
    margin-top: 0;
  }

  .form-control {
    &:focus {
      border-color: #000;
    }
  }

  .form-group input {
    -webkit-box-shadow: none;
    border-radius: 0;
    border-radius: none;
    box-shadow: none;
    font-size: 22px;
    height: 67px;
    margin: 0px auto;
    padding: 18px 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    width: 100%;

    &:focus {
      border-color: none;
    }
  }

  .button {
    background: #000;
    border-radius: 0;
    border: 0;
    color: #fff;
    font-size: 17px;
    height: 69px;
    letter-spacing: 2px;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
    width: 100%;

    &:hover {
      background: #df3f3f;
      border: 0;
    }
  }

  a.box-link {
    color: #ccc;
    display: inline-block;
    margin-top: 30px;
    margin: 30px 6px;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    border: solid 1px #ccc;
    padding: 8px 14px 8px 14px;
    letter-spacing: 1px;
    outline: none;

    &:hover {
      text-decoration: none;
      color: #000;
      border: 1px solid #000;
    }
  }

  .app-footer {

    margin-top: 30px;
    padding: 0;

    li {
      list-style: none;
      display: inline-block;
      font-size: 10px;
      margin: 0 16px;
      letter-spacing: 2px;
      text-transform: uppercase;

      a {
        color: #000;
        &:hover {
          color: #ccc;
          text-decoration: none;
        }
      }
    }
  }
}