body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: image-url('steaming-dev.gif');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat:no-repeat;
    opacity : 0.9;
    z-index: -1;
}

::-webkit-scrollbar {
    display: none;
}

#splash-social {

  float: right;
  margin: 40px 40px 0 40px;

  a {
    text-decoration: none;

    &.icon-social {
      -webkit-background-size: 30px;
      -moz-background-size: 30px;
      background-size: 30px;
      height: 30px;
      width: 30px;
      opacity: .8;
      vertical-align: 50%;
      display: inline-block;
      font-size: 0;

      &:hover {
        opacity: 1;
        -ms-filter: none;
        filter: none;
      }
    }
  }
}

.icon-facebook-light {
  background: url("facebook-light.svg") no-repeat 50% 50%;
  margin-right: 8px;
}

.icon-twitter-light {
  background: url("twitter-light.svg") no-repeat 50% 50%;
}

#splash-content {
  margin-top: -100px;
  position: absolute;
  top: 34%;
  width: 100%;
  height: 200px;

  .grndz-copy {
    h1, h2 {
      color: #fff;
      font-family: europa, sans-serif;
      font-size: 60px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
    }

    h2 {
      font-weight: 200;
    }

    @media (max-width: 900px) {
      h1, h2 {
        font-size: 52px;
      }
    }

    @media (max-width: 467px) {
      h1, h2 {
        font-size: 48px;
      }
    }

    @media (max-width: 350px) {
      h1, h2 {
        font-size: 44px;
      }
    }
  }
}


