#index
  .row#navbar
    %ul
      %li
        %a{href: "#"} subscribe
      %li
        %a{href: "#"} contact

  .row#splash
    .content
      %h1 Brew With Confidence
      %h4 BrewMat helps coffee lovers add variety to their daily cup of coffee through a local coffee roaster subscription service.
      %a{href: '#our-product'} learn more
  .row#our-product
    .content
      %h2 Our Product
      %p BrewMat is committed towards simplifying the coffee buying experience, while continuing to increase the selection and accessibility of coffee. We work with top shelf roasters in your neighborhood to have fresh beans delivered directly to your door.
  / .row#the-numbers
  .row#how-it-works
    .content

      %h2.text-center how it works

      .info-boxes
        .info-box
          %h3 Sign Up
          %span.glyphicon.glyphicon-pencil
          %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque metus ante, volutpat in odio vitae, pretium convallis ante. Nullam eros lacus, volutpat at pharetra vel, tempor a sem. Nullam bibendum adipiscing leo, at fringilla massa interdum vel.

        .info-box
          %h3 Subscribe
          %span.glyphicon.glyphicon-calendar
          %p In iaculis diam sed arcu viverra fringilla. Cras viverra felis vitae est blandit dapibus. Nulla pretium pulvinar facilisis. Sed varius ligula et dolor tempor, vel interdum orci volutpat.

        .info-box
          %h3 Enjoy
          %span.glyphicon.glyphicon-gift
          %p Morbi eu magna nec nunc aliquet dapibus. In sit amet ornare metus, non convallis est. Suspendisse faucibus mi sed elit venenatis, ut sollicitudin elit elementum. Donec tempus feugiat est, at commodo sem rutrum in. Integer congue vel sem ac tincidunt.

      / %button try it out!
  .row#footer
