#index
  .row#row-first
    .content
      %h1 Brew With Confidence
      %h4 BrewMat helps coffee lovers find and subscribe to local roasters in their neighborhood.
      %a{href: '#row-second'} learn more
  .row#row-second
  .row#row-third
  .row#row-fourth